@import 'assets/style/global-variables.scss';

.button {
  border-radius: 3rem;
  font-family: var(--primary-font-family);
  font-weight: 600;
}

.button {
  &--small {
    font-size: 1.3rem;
    height: 3.8rem;
    width: 11.3rem;
  }

  &--normal {
    font-size: 1.5rem;
    height: 5rem;
    width: 18rem;
  }

  &--primary {
    color: var(--primary-color);
    border: .2rem solid var(--primary-color);
    &:hover {
      color: white;
      background-color: var(--primary-color);
    }
  }

  &--secondary {
    color: white;
    background-color: var(--secondary-color);
  }
}